# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Vue.js
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
#.env
.env.local
.env.*.local

# Docker
postgres-data/
orthanc-data/

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs/